body {
	margin:30px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif
}

html {
    background: #424242
}

#box1{
	width:min-content;
	height:fit-content;
	margin-top:7%;
    margin-left:0.3%;

}

#box1 {
	background: #008080;
	border-radius: 25px;
}

#box2 {
    background: #008080;
    border-radius: 25px;
    height: 74%;
    width: 73%;
    margin-top: 7%;
    margin-left: 8%;
    font-size: 48px;
    text-align: center;
}

button, p  {
	padding:50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    background: #008080;
    border: 0;
    text-align: middle;
    width:10%;
    height: 14%;
    border-radius:25px;
}

.btn:hover{
    background: #006666;
}

#box1 p {
	white-space:pre;
	font-size:smaller;
	font-family:monospace;
}
a{
    color:inherit;
    text-decoration: none;
}
